html{font-size: 20px;}
body{background: #eee;}
/*头部搜索栏*/
header{width:100%; height: 2rem; background: red; position:relative;}
header input{width:10.5rem; border-radius: 10px;padding:0.25rem 0 0 1.5rem;
    height: 1rem;
    line-height:1.6rem;position: absolute;
    left: 1.0rem;margin-top:0.3rem; background: url(../img/icon_search.png) no-repeat white 0.5rem 0.4rem; background-size:0.6rem 0.6rem;}
header a{ position:absolute; right:1.1rem; top:0.6rem;}  
header a img{width:0.8rem; height:1rem;}

/*轮播图*/
.swiper-container1{
          width: 100%;
          height:100%;
          position: relative;
          overflow-x:hidden;
}
.swiper-container1 img{width: 100%;
          height:100%;}
.swiper-pagination{position: absolute; right:0.5rem; bottom: 0.25rem;}

/*某东分类*/    
.nav{width:100%; }      
.nav .container{display:flex;}
.nav .container li{flex:1;}
.nav .container li img{width:1.7rem; height:1.7rem; margin:0 auto; }
.nav span{width:100%; text-align:center; display:block; font-size:0.4rem; padding-top: 0.1rem; color:#555;}
.nav .con1{padding-top: 0.75rem;}
.nav .con2{padding-top:0.5rem; padding-bottom: 0.85rem;}

/*某东快报*/	
.news{height:1.3rem; overflow:hidden;width:100%;position:relative; background: white;}
.swiper-container2{position:relative; width:100%; height:1.3rem;}
.swiper-container2 .swiper-wrapper {
          width: 10.0rem;
          height:1.3rem;
          position: absolute;
          left:3.6rem;
          top:0.9rem;
          font-size: 0.5rem;
}
.news img{margin:0.32rem 0 0 0.5rem; width:2.8rem; height:0.6rem;}
.news a{position: absolute; right:0.5rem; top:0.5rem; font-size: 0.6rem; color:#555;}

/*某东秒杀*/
.secKill{margin-top:0.35rem; background: white; overflow-x:hidden;}
.seckHead{height:1.15rem; line-height:1.15rem; font-size: 0.3rem;position: relative;}
.seckHead img{width:3rem; height:1.2rem; display:inline-block;}
.seckHead strong{ margin-left: 0.6rem;position: absolute;top:0.03rem;font-size: 0.7rem;}
.seckHead .time{position: absolute; top:0.03rem; left:5.5rem;font-size: 0.7rem;}
.seckHead a{position: absolute; top:0.03rem; right:0.3rem;color:red; background: url(../img/right1.png) no-repeat right; background-size:0.6rem 0.6rem;padding-right: 0.8rem; font-size: 0.5rem;}

.swiper-container3{width:25%; height:5rem;background: white;position: relative; margin-top: 0.5rem；}
.swiper-container3 .seckUl{height:4rem;margin-left: -0.7rem;}
.swiper-container3 .seckUl .seckList{
	text-align: center; margin-right: 0.25rem;width:25%;
	
}
.swiper-container3 .swiper-wrapper a{display:inline-block;}
.swiper-container3 .swiper-wrapper img{width:3rem; height:3rem;margin-bottom: 1rem;}
.swiper-container3 .swiper-wrapper p{color:red; font-size: 0.7rem; position: absolute;bottom: -0.1rem;left:0.9rem;}
.swiper-container3 .swiper-wrapper del{color:gray; font-size: 0.5rem;position: absolute;bottom: -0.7rem;left:0.9rem;}

.seckOther{
    width: 100%;
    position: relative;
    margin-top: 0.25rem;
}
.seckOtherUl li{
    float: left;
    margin-right: -0.25rem;
    background: white;

}
.seckOtherUl li a{
    display: inline-block;
}
.seckOtherUl .seckOtherFirstLi{
    width: 25%;
    position: relative;
}

.seckOtherUl .seckOtherLi{
    width: 25%;
    text-indent: 0.25rem;
}
.seckOtherUl .seckOtherLi a{
    display: inline-block;
}
.seckOtherLi img{
    width: 4.3rem;
    height: 3.55rem;
    margin-top: 0.3rem;
}
.graphic-tit{
    font-size: 0.6rem;
    font-weight: 100;
    color: #181818;
}
.graphic-wz{
    font-size: 0.04rem;
    line-height: 0.75rem;
    height: 0.75rem;
}
/*逛商场*/
.shopping{
    width: 100%;
    position: relative;
    background: #fff;
}
.shopHead{
    position: relative;
}
.shopHead>img{
    width: 100%;
    position: relative;
}
.shopHead>span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 73.6%;
    margin: auto;
    display: block;
    overflow: hidden;
}
.shopHead>span img{
    display: block;
    width: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.shopCon{width:100%; height:12rem;}
.shopCon li{width:7.7rem; height:5.0rem;padding: 0.3rem 0 0.75rem 0.3rem; }
/*.shopCon li .left{width:4.0rem;}*/
.shopCon li a{color:#000; font-size: 0.7rem; font-weight: bold;}
.shopCon li .left p{color:gray; font-size: 0.05rem; }
.shopCon li span{color:white; background: #7b1aff; font-size: 0.4rem; display:block; line-height:100%; margin-top: 0.15rem; width:3.2rem;padding:0.1rem;}
.shopCon .right img{width:4rem; margin-left: -2rem;}

/*享品质*/
.quality{height:21rem;} 
.quality .down li{width:23%;}
.quality .down a{font-size: 0.8rem; font-weight: normal;}
.quality .down p{font-size: 0.3rem; color:gray;}
.quality .down img{width:4rem;}